.board > ul {
  height: 56px;
}
.board li {
  float: left;
  font-size: 15px;
  padding-top: 15px;
}
.board li:first-child {
  padding-top: 17px;
}
.home::after {
  background-position: 0 -442px;
  width: 16px;
  height: 14px;
}
.direction::before,
.direction::after {
  background-position: -30px -441px;
  width: 5px;
  height: 8px;
  margin: 0 10px;
}

.history {
  font-weight: 550;
  font-size: 36px;
  color: #454545;
  padding: 40px 0 40px;
}

.wrap {
  width: 980px;
  margin: auto;
}
.wrap ul li a {
  display: block;
  width: 182px;
  line-height: 48px;
  height: 48px;
  background: #36363f;
  color: #898992;
  text-align: center;
  margin-right: 2px;
}
.wrap ul li.active a {
  background-color: #ce1141;
  color: #fff;
}

.company_history {
  display: none;
  padding-top: 32px;
  margin-bottom: 70px;
  border-top: 2px solid #ce1141;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
}
.company_history.active {
  display: block;
}
.year {
  padding: 14px 90px 0 26px;
  width: 182px;
  font-size: 30px;
  color: #ce1141;
  border-top: solid 1px #ce1141;
}
.first_season {
  padding-top: 10px;
}
.award {
  justify-content: space-between;
}
.season {
  padding-left: 20px;
  width: 107px;
  font-size: 18px;
  color: #c3c3c3;
}
.news {
  width: 798px;
  padding: 22px 0 25px;
  border-top: 1px solid #e8e8e8;
}

.working {
  width: 690px;
}
.working li {
  font-size: 14px;
  width: 630px;
  padding-bottom: 10px;
}

footer {
  height: 200px;
  background-color: #132448;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
