.update_title {
  font-weight: 550;
  font-size: clamp(2.4rem, 3vw, 3.6rem);
  padding: 40px 0 40px;
}
.tab {
  gap: 0.7%;
}
.wrap {
  max-width: 98rem;
  width: 100%;
  margin: auto;
  padding: 10rem 2rem 0;
}
.wrap ul li a {
  display: block;
  width: 100%;
  line-height: 48px;
  height: 48px;
  background: #d9d9d9;
  font-family: "GmarketSansMedium";
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  text-align: center;
  margin-right: 2px;
  border-radius: 1.5rem;
}
.tabmenu {
  width: 18%;
}
.wrap ul li.active a {
  background-color: #041e42;
  color: #d9d9d9;
}

.game_history {
  font-family: "GmarketSansMedium";
  display: none;
  padding-top: 32px;
  margin-bottom: 70px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  justify-content: space-between;
}
.game_history.active {
  display: block;
}
.date {
  padding: 2.2rem 9rem 0 2.6rem;
  width: 18.5%;
  font-size: clamp(2rem, 2.5vw, 3rem);
  border-top: solid 1px #bf0d3e;
}

.update_wrap {
  justify-content: space-between;
  padding-top: 10px;
}
.this_mounth {
  padding-left: 20px;
  width: 13%;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}
.mounths {
  width: 81.5%;
  padding: 22px 0 25px;
  border-top: 1px solid #d9d9d9;
}

.update {
  width: 87%;
}
.update > li {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  width: 100%;
  padding-bottom: 2rem;
  color: #bf0d3e;
}
.update ul > li {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  padding: 1rem 0;
  color: #041e42;
}
