.inner {
  max-width: 80rem;
}

.sns li {
  padding-right: 5px;
}
.com2us img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
.Naver_cafe::before,
.FB::before {
  display: none;
}
.Naver_cafe:after,
.FB:after {
  background-size: 168px 302px;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
.Naver_cafe:after {
  background-position: -25px -151px;
}
.FB:after {
  background-position: 0 -151px;
}

.first_img {
  height: 40rem;
}
.first {
  flex-direction: column;
  padding-top: 100px;
}

.main_video {
  height: 100rem;
  width: 100%;
}
.intro {
  position: relative;
  flex-direction: row;
  gap: 2rem;
}
.first .intro h2 {
  position: absolute;
  font-weight: 600;
  top: -6rem;
  left: 0;
}
.intro p {
  padding: 1rem 0;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.downLoad {
  width: 30%;
  justify-content: end;
  gap: 1rem;
}
.downLoad img {
  max-width: 21.5rem;
  height: auto;
}
.info {
  padding: 7.5rem 2rem;
}
.info h2 {
  text-align: center;
  font-size: clamp(1.8rem, 3vw, 2.8rem);
  font-weight: 500;
}

.box1,
.box2 {
  width: 100%;
}

.game_mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.game_mode img,
.bottom_row img {
  max-width: none;
  height: 100%;
}
.game_mode p {
  font-size: clamp(1.8rem, 2vw, 2rem);
  padding: 1rem 0 3rem;
}
.bottom_row {
  display: flex;
  flex-direction: column;
}
.item_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-template-rows: 15rem 15rem;
  gap: 3rem;
  text-align: center;
  padding: 2rem 1rem;
}

.item {
  padding: 1rem;
  height: 100%;
}
.item > h3 img {
  width: 5rem;
  height: auto;
}
.item:hover img {
  transform: scale(1.2);
  transition: all 0.7s;
}

.item > p:first-of-type {
  margin: 1rem 0 2rem;
}
.club_wrap {
  background-size: cover;
  height: 100%;
}
.club_wrap h2 {
  padding-bottom: 3rem;

  font-size: 2.8rem;
  font-weight: 600;
}

.club {
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-template-rows: 10rem 10rem 10rem;
  gap: 2rem;
  width: 100%;
}
.club h3 {
  font-size: clamp(1.6rem, 2.8vw, 2rem);
  background-size: 2.8rem 2.8rem;
  padding: 1rem 0 0 4rem;
}
.club li {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 700px) {
  .item_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .item {
    width: 45%;
    height: 100%;
  }
}
