       <section class="inner card_tab_wrap">
          <h2 class="card_type_subtitle">Card Type</h2>
          <div class="button_group flex inner">
            <button
              v-for="index in cardPacks"
              :key="index"
              :class="{ active: selectedPacks === index }"
              class="type"
              @click="selectType(index)"
              :style="{ backgroundImage: cardImages[index], backgroundSize: 'auto 80%', backgroundPosition: '10px center', backgroundRepeat: 'no-repeat' }"
            >
              {{ index }}
            </button>
          </div>
        </section>
        <section class="card_wrap inner">
          <div
            class="card_info"
            v-for="(pack, index) in filteredPacks"
            :key="index"
          >
            <div class="images grid">
              <p class="small_title">{{pack.font}}</p>
              <p class="small_title">{{pack.back}}</p>
              <img :src="card.img1" alt="" />
              <img :src="card.img2" alt="" />
            </div>

            <h3 class="card_type">선수타입: {{ pack.index }}</h3>
            <p class="card_feature">카드특징: {{ pack.feature }}</p>
            <p class="card_affect">효과: {{ pack.affect }}</p>
            <p class="card_source">획득경로: {{ pack.source }}</p>
          </div>
        </section>






  selectedPacks: "슈프림",
              cardPacks: [
                "슈프림",
                "시그니처",
                "레전드",
                "프라임",
                "올스타",
                "빈티지",
                "Live",
                "일반",
              ],
              packImages: {
                슈프림: 'url("screen_capture/historic.png")',
                시그니처: 'url("screen_capture/signature_pack.png")',
                레전드: 'url("screen_capture/legend_pack.png")',
                프라임: 'url("screen_capture/prime_pack.png")',
                올스타: 'url("screen_capture/allstar_pack.png")',
                빈티지: 'url("screen_capture/vintige_normal.png")',
                Live: 'url("screen_capture/all_Live_dia.png")',
                일반: 'url("screen_capture/all_dia.png")',
              },
              packs: [
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/JoeDiMaggio_front.jpg",
                  img2: "screen_capture/JoeDiMaggio_back.jpg",
                  inedx: "슈프림",
                  feature:
                    " 역동적인 일러스트로 되어있고, 스탯화면이 뒷면에 적혀져있고 뒷면에 카드의 획득순서가 기재되어있음",
                  affect:
                    "소속팀에 한정되지 않고 모든팀의 덱 보너스 스탯을 받고 컨디션이 최상 최하 단계까지 5단계로 되어있고, 최고강화 30레벨까지 가능",
                  source: "히스토릭팩 에서 획득 가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/AaronJudge_front.jpg",
                  img2: "screen_capture/AaronJudge_back.jpg",
                  index: "시그니처",
                  feature:
                    "역동적인 일러스트로 되어있고, 카드 앞면에 선수의 사인이 들어가있다.",
                  affect: "덱 보너스를 1회 추가로 받는다 ",
                  source: "시그니처 관련선수팩,히스토릭팩 에서 획득 가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/GregMaddux_front.jpg",
                  img2: "screen_capture/GregMaddux_back.jpg",
                  index: "레전드",
                  feature:
                    "역동적인 일러스트로 되어있고 오른쪽 위에 카드의 획득순서가 기재되어있음, 스탯화면이 뒷면에 적혀져있다.",
                  affect:
                    "소속팀에 한정되지 않고 스킬의 초기 레벨이 3/3/3으로 고정되어있음",
                  source:
                    "레전드 관련 선수팩,빈티지팩(고급,최고급),실버선수팩 이상의 일반 선수팩 에서 획득 가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/ClaytonKershaw_front.jpg",
                  img2: "screen_capture/ClaytonKershaw_back.jpg",
                  index: "프라임",
                  feature:
                    "역동적인 일러스트로 되어있고, 배경화면에 스크래치 마크가 있다.",
                  affect:
                    "컨디션이 항상 보통이상을 유지하며 등급상승량이 최고치를 유지하고 일반선수보다+5높음(블랙다이야는90)",
                  source:
                    "프라임 관련 선수팩,실버선수팩 이상의 일반 선수팩 에서 획득가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/OhtaniShohei_front.jpg",
                  img2: "screen_capture/OhtaniShohei_back.jpg",
                  index: "올스타",
                  feature:
                    "카드앞면 왼쪽에 각시즌의 올스타마크가 기재되어있고 선수의 일러스트 올스타모자 착용",
                  affect: "올스타 전용 덱보너스를 받을수있음",
                  source: "올스타 관련 선수팩에서 획득가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/NolanRyan_front.jpg",
                  img2: "screen_capture/NolanRyan_back.jpg",
                  index: "빈티지",
                  feature: "역동적인 일러스트,1999년이전의 선수들로 구성",
                  affect: "",
                  source: "빈티지 일반팩 이상,히스토릭팩 에서 획득 가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/JeonghooLee_front.jpg",
                  img2: "screen_capture/JeonghooLee_back.jpg",
                  index: "Live",
                  feature:
                    "카드앞면 왼쪽에 각시즌의 Live마크에 해당 년도 기재되어있음 ,해당시즌의 선수들만 부여한다. ",
                  affect:
                    "당해년도 시즌중에 Live덱 효과를 받을수있다.(단 시즌 종료 후 일반 선수로 전환됨)",
                  source: "Live마크가 붙은 일반 선수팩이상에서 획득 가능",
                },
                {
                  font: "Front",
                  back: "Back",
                  img1: "screen_capture/TarickSkubal_front.jpg",
                  img2: "screen_capture/TarickSkubal_back.jpg",
                  index: "일반",
                  feature: "기본적인 카드 2000년이후의 선수들로 구성",
                  affect: "효과 없음",
                  source: "일반 선수팩 이상에서 획득 가능",
                },
              ],
             
            };
          },
          computed: {
            filteredPacks() {
              return this.packs.filter(
                (pack) => pack.index === this.selectedPacks
              );
            },
          },